projects/Gestor/BackEnd/Server/src/Temp/
projects/ServidorDelphi/Servidor/src/__history/
projects/ServidorDelphi/Servidor/src/Win32/Debug/
projects/ServidorDelphi/Servidor/src/Win64/Debug/
projects/ServidorDelphi/Servidor/src/Win64/Release/
projects/ServidorDelphi/Servidor/src/__recovery/
*.dump
*.ps1
*.icns
*.ico
*.png
*.exe
*.dbg
*.lnk
*.sql
*.lpr
*.rar
projects/Gestor/FrontEnd/docs/
projects/Gestor/FrontEnd/src/server/node_modules/
projects/Gestor/FrontEnd/src/client/node_modules/core-js/
projects/Gestor/FrontEnd/src/client/node_modules/
projects/Gestor/BackEnd/Server/Go/src/data/logs/
*.jpeg
*.apk
*.bat
*.json
*.log
*.gitignore
*.keystore
projects/Gestor/Mobile/Producao/node_modules/@capacitor/android/capacitor/build/
projects/Gestor/Mobile/Producao/node_modules/@capacitor/
projects/Gestor/Mobile/Producao/node_modules/@ionic/
projects/Gestor/Mobile/Producao/node_modules/
projects/Gestor/BackEnd/Server/Go/Fotos/
projects/Gestor/Mobile/Cliente/node_modules/
